@mixin flexPosition($justCont: center, $alignIte: center) {
    display: flex;
    justify-content: $justCont;
    align-items: $alignIte;
}

@mixin titulosNoticiasSecundarias{
    font-size: size(sm);
    position: absolute;
    bottom: 4px;
    background-color: color(quaternary);
    color: color(primary);
    padding: 5px 5px 0px 5px;
    border-radius: 0px 5px 0px 0px;
}

@mixin imagenesNoticiasSecundarias{
    width: 100%;
    height: 150px;
}

@mixin containerRecuerda{
    width: 40%;
    height: 70px;
    text-align: center;
    margin: 10px;
    background-color: rgba(color(quaternary), 0.8);
    border-radius: 0px 0px 5px 5px;
}

@mixin parrafoRecuerda{
    padding-top: 2px;
    margin: 0px 0px 10px 0px;
    font-size: size(sm);
    background-color: color(primary);
    color: color(secondary);
    transition: all .2s;
}

@mixin linkRecuerda{
    font-size: size(sm);
    text-decoration: none;
    background-color: color(primary);
    color: color(secondary);
    border: 2px solid color(primary);
    border-radius: 5px;
    padding-top: 5px;
    transition: all .2s;
}

@mixin hoverRecuerda{
    background-color: color(tertiary);
    color: color(primary);
}